.navbar{
    margin-bottom: 3rem;
    padding-top: 2em;
    width: 100%;
    justify-content: space-between;
    display: flex;
    background-color: grey;
}
.logo-container{
    font-size: 2rem;
    cursor: default;
    display: flex; /* Para que los elementos dentro del logo-container sean flexibles */
    align-items: center; /* Para alinear verticalmente los elementos */
    padding: 10px;
    color: white;
}
.desktop-menu{
    align-items: center;
    margin-left: auto;
    margin-right: 10%;
}
.desktop-menu ul{
    padding: 0;
    margin: 0;
    transition: color 0.4 ease-in-out;
    color: white;
}
.desktop-menu ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 18px;
    padding: 10px;
}
.desktop-menu ul li:hover{
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    text-decoration: underline;
    text-underline-offset: 0.5em;
    color: rgb(90, 90, 90);
}
.desktop-menu ul li ul.dropdown li {
    display: block;
    font-size: 1rem;
}

.desktop-menu ul li ul.dropdown{
    width: auto;
    z-index: 999;
    display: none;
}
.desktop-menu ul li:hover ul.dropdown{
    display: block;
    position: absolute;
    background: grey;
    padding: 0.5em 0.5em;
}
.desktop-menu ul li:hover ul.dropdown li ul.sub-dropdown{
    display: none;
    width: auto;
}
.desktop-menu ul li:hover ul.dropdown li:hover ul.sub-dropdown{
    display: block;
    position: absolute;
    background: grey;
    padding: 0.5em 2em;
    top: 4em;
    left: 8em;
    z-index: 999;
}

.icon{
    display: none;
}


.colorPicker-table{
    display: flex;
    align-items: center;
    justify-content: center;
}
.colorPicker-container{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.colorPicker{
    height: 5rem;
    width: 5rem;
    border: 1px black solid;
    border-radius: 50%;
    padding: 2em;
    margin-left: 2em;
}