<nav class="navbar" [style.background]="backgroundColor">
    <div class="logo-container" [style.color]="textColor">Tienda</div>

    <div class="menu-icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="var(--textclr)"
        class="w-6 h-6 icon">
        <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="menuIcon" />
      </svg>
    </div>

    <div class="desktop-menu">
        <ul [style.color]="textColor">
            <li><a routerLink="">Inicio</a></li>
            <li><a routerLink="/productos">Productos</a>
                <ul class="dropdown" [style.background]="backgroundColor" [style.color]="textColor">
                    <li *ngFor="let categoria of categorias">
                        <a href="">{{ categoria.nombre }}</a>
                        <ul class="sub-dropdown" *ngIf="categoria.subcategorias && categoria.subcategorias.length > 0" [style.background]="backgroundColor" [style.color]="textColor">
                            <li *ngFor="let subcategoria of categoria.subcategorias">
                                <a href="">{{ subcategoria }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="">Contacto</a></li>
        </ul>
    </div>
</nav>

<div class="colorPicker-table">

    <div class="colorPicker-container">
        <div class="colorPicker-header">Fondo</div>
        <div class="colorPicker" [(colorPicker)]="backgroundColor" [style.background]="backgroundColor"></div>
    </div>

    <div class="colorPicker-container">
        <div class="colorPicker-header">Texto</div>
        <div class="colorPicker" [(colorPicker)]="textColor" [style.background]="textColor"></div>
    </div>
</div>